# MySQL
MYSQL_DATABASE=
MYSQL_ROOT_PASSWORD=
MYSQL_USER=
MYSQL_PASSWORD=

# Backend
SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/SEU_BANCO?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=